.civility {
    background-color: aqua;
}
.delivery {
    background-color: cadetblue;
}
.payment {
    background-color: cyan;
}
body {
    font-family: Cambria, Cochin;
    margin: 80px 200px 60px 100px;
}
